@charset "UTF-8";
@font-face { font-family: 'Malgun Gothic', sans-serif; src: url("../fonts/MalgunGothic.eot"); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }

body { font-size: 13px; line-height: 1.4; color: #000; letter-spacing: -1px; font-family: 'Malgun Gothic', sans-serif; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; border: 1px solid #333; }

a { text-decoration: none; color: #333; }

.scroll-off { position: fixed; overflow: hidden; height: 100%; }

.hidden-text { overflow: hidden; position: absolute; border: 0; width: 1px; height: 1px; clip: rect(1px, 1px, 1px, 1px); }

/* 공통 헤더 */
.common-header { position: fixed; top: 0; left: 0; width: 100%; height: 60px; border-bottom: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; padding-right: 20px; background: #fff; z-index: 100; }

.common-header.on { background: rgba(255, 255, 255, 0.9); }

.common-header:after { display: block; content: ""; clear: both; }

.common-header .logo { position: absolute; top: 16px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.common-header .logo > a { display: block; width: 156px; height: 0; max-height: 26px; padding-top: 26px; background: url("../images/main/header-logo.png") no-repeat; background-size: contain; overflow: hidden; }

.common-header .menu-btn { float: left; border: 0; background: 0; padding: 0; width: 60px; height: 60px; }

.common-header .menu-btn > span { position: relative; top: 10px; right: 1px; font-size: 10px; letter-spacing: -1px; padding-top: 19px; }

.common-header .menu-btn > span:before { display: block; content: ""; position: absolute; top: 0; left: 1px; width: 16px; height: 13px; background: url("../images/icons/btn-burger.png") no-repeat; background-size: cover; }

.common-header .util { float: right; margin-top: 16px; }

.common-header .util:after { display: block; content: ""; clear: both; }

.common-header .util li { float: left; }

.common-header .util li a { display: inline-block; font-size: 10px; position: relative; padding-top: 20px; }

.common-header .util li:first-child { margin-right: 15px; }

.common-header .util .user-link:before { display: block; content: ""; position: absolute; top: 0; left: 6px; width: 16px; height: 19px; background: url("../images/icons/header-util-user.png") no-repeat; background-size: cover; }

.common-header .util .shop-link:before { display: block; content: ""; position: absolute; top: 1px; left: 0; width: 18px; height: 18px; background: url("../images/icons/header-util-shop.png") no-repeat; background-size: contain; }

.gnb-container { position: fixed; width: 90%; height: 100%; background: #fff; -webkit-transform: translateX(-120%); transform: translateX(-120%); -webkit-transition: all .2s ease-in; transition: all .2s ease-in; z-index: 40; }

.gnb-container.on { -webkit-transform: translateX(0); transform: translateX(0); }

.gnb-container .nav-util { padding: 0 14px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.gnb-container .top { padding: 20px 0 18px; border-bottom: 1px solid #e6e6e6; -webkit-box-sizing: border-box; box-sizing: border-box; }

.gnb-container .top:after { display: block; content: ""; clear: both; }

.gnb-container .login { float: left; }

.gnb-container .login a { padding-left: 28px; font-size: 14px; position: relative; letter-spacing: -1.5px; color: #000; }

.gnb-container .login a:before { display: block; content: ""; position: absolute; top: -2px; left: 0; width: 19px; height: 20px; background: url("../images/icons/icon-login.png") no-repeat; background-size: contain; }

.gnb-container .sign-up { float: right; font-size: 14px; color: #000; letter-spacing: -1.5px; }

.gnb-container .bottom { margin-top: 18px; }

.gnb-container .bottom ul:after { display: block; content: ""; clear: both; }

.gnb-container .bottom li { width: 25%; float: left; text-align: center; }

.gnb-container .bottom li a { display: inline-block; padding-top: 45px; position: relative; font-size: 11px; color: #000; }

.gnb-container .bottom li a:before { display: block; content: ""; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 40px; height: 40px; background: #3e404f; border-radius: 50%; }

.gnb-container .bottom li a:after { display: block; content: ""; position: absolute; top: 11px; left: 50%; height: 19px; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.gnb-container .bottom .user:after { width: 17px; background: url("../images/icons/nav-user.png") no-repeat; background-size: contain; }

.gnb-container .bottom .usim:after { width: 18px; background: url("../images/icons/nav-usim.png") 1px 0 no-repeat; background-size: contain; }

.gnb-container .bottom .plan:after { width: 21px; background: url("../images/icons/nav-plan.png") no-repeat; background-size: contain; }

.gnb-container .bottom .home:before { background: #ff2e76; }

.gnb-container .bottom .home:after { width: 21px; background: url("../images/icons/nav-home.png") no-repeat; background-size: contain; }

.gnb-container .bottom .search-box { position: relative; margin-top: 19px; }

.gnb-container .bottom .search-box input { width: 100%; padding: 0; height: 28px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #29292a; border-radius: 20px; }

.gnb-container .bottom .search-box a { position: absolute; bottom: 6px; right: 14px; width: 18px; height: 0; max-height: 16px; padding-top: 16px; overflow: hidden; background: url("../images/icons/btn-nav-search.png") no-repeat; background-size: contain; }

.gnb-container .gnb { margin-top: 16px; border-top: 1px solid #dedede; height: 100%; position: relative; }

.gnb-container .gnb .left { width: 120px; height: 100%; background: #f5f5f5; }

.gnb-container .depth1 { width: 120px; }

.gnb-container .depth1:after { display: block; content: ""; clear: both; }

.gnb-container .depth1 > li { width: 120px; height: 47px; border-bottom: 1px solid #e0e0e0; float: left; }

.gnb-container .depth1 > li > a { display: block; height: 100%; font-size: 15px; color: #666; background: #f1f1f1; padding-left: 20px; line-height: 47px; position: relative; text-indent: -0.5px; }

.gnb-container .depth1 > li > a:after { display: block; content: ""; position: absolute; top: 20px; right: 14px; width: 5px; height: 8px; background: url("../images/icons/nav-right-arrow-off.png") no-repeat; background-size: contain; }

.gnb-container .depth1 > li > a.on { color: #ff2e76; background: #fff; font-weight: bold; }

.gnb-container .depth1 > li > a.on:after { background: url("../images/icons/nav-right-arrow-on.png") no-repeat; background-size: contain; }

.gnb-container .depth1 > li > a.on:before { display: block; content: ""; position: absolute; width: 100%; left: 0; bottom: 0; height: 3px; background: #ff2e76; }

.gnb-container .depth2 { position: absolute; right: 0; top: 0; width: calc(100% - 120px); padding-top: 16px; -webkit-box-sizing: border-box; box-sizing: border-box; display: none; }

.gnb-container .depth2.on { display: block; }

.gnb-container .depth2 > li { position: relative; padding: 0 20px; }

.gnb-container .depth2-link { display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; font-size: 14px; font-weight: bold; color: #121212; padding: 10px 0 10px 3px; text-indent: -0.5px; border-bottom: 1px solid #dedede; }

.gnb-container .more { position: relative; }

.gnb-container .more:after { display: block; content: ""; position: absolute; top: 15px; right: 4px; width: 11px; height: 0; max-height: 6px; padding-top: 6px; overflow: hidden; background: url("../images/icons/icon-nav-bottom-arrow.png") no-repeat; background-size: contain; }

.gnb-container .more.on { color: #ff2e76; }

.gnb-container .more.on:after { background: url("../images/icons/icon-nav-top-arrow.png") no-repeat; background-size: contain; }

.gnb-container .depth3 { padding: 10px 0 8px 0; display: none; }

.gnb-container .depth3.on { display: block; }

.gnb-container .depth3 > li > a { display: block; color: #000; padding: 10px 0 10px 20px; position: relative; text-indent: -0.5px; }

.gnb-container .depth3 > li > a:before { display: block; content: ""; position: absolute; top: 15px; left: 5px; width: 8px; height: 7px; background: url("../images/icons/icon-nav-re.png") no-repeat; background-size: contain; }

.gnb-container .family-site { width: 120px; text-align: center; padding-top: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.gnb-container .family-site:after { display: block; content: ""; clear: both; }

.gnb-container .family-site a { display: inline-block; width: 108px; height: 38px; line-height: 38px; color: #000; border: 1px solid #000; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 10px; margin-right: 3px; text-indent: -0.5px; }

.gnb-container .inner { position: relative; height: 100%; overflow-y: auto; }

.gnb-container .close-btn { position: fixed; top: 0; right: -36px; padding: 0; border: 0; width: 36px; height: 0; max-height: 36px; padding-top: 36px; overflow: hidden; background: url("../images/icons/btn-gnb-close.png") 7px 12px no-repeat; background-size: 17px; }

/* 타이틀 */
.title { font-size: 20px; text-align: center; line-height: 1.1; }

/* 공통 푸터 */
.common-footer { padding: 27px 20px 33px 20px; background: #333; -webkit-box-sizing: border-box; box-sizing: border-box; }

.common-footer .customer-service { border-bottom: 1px solid #666; }

.common-footer .customer-service dl { padding-bottom: 25px; }

.common-footer .customer-service dt { color: #fff; margin-bottom: 9px; }

.common-footer .customer-service dd { position: relative; }

.common-footer .customer-service dd:after { display: block; content: ""; clear: both; }

.common-footer .customer-service ul { float: left; }

.common-footer .customer-service li { color: #ccc; font-size: 12px; }

.common-footer .customer-service .tel { font-size: 18px; color: #ff626f; position: absolute; bottom: 0; right: 23px; }

.common-footer .customer-service .tel span { font-size: 12px; }

.common-footer .nav-wrap { margin-top: 19px; text-align: center; }

.common-footer .nav-wrap li { display: inline-block; padding-right: 10px; margin-right: 1px; position: relative; }

.common-footer .nav-wrap li:after { display: block; content: ""; position: absolute; top: 6px; right: 0; width: 1px; height: 8px; background: #ccc; }

.common-footer .nav-wrap li:last-child { padding-right: 0; margin-right: 0; }

.common-footer .nav-wrap li:last-child:after { display: none; }

.common-footer .nav-wrap li:nth-child(2):after { right: 1px; }

.common-footer .nav-wrap a { color: #ccc; }

.common-footer .nav-wrap .point { font-weight: bold; }

.common-footer .info { margin-top: 20px; }

.common-footer .info li { font-size: 10px; color: #777; }

.common-footer .info .spacing { margin-right: 10px; }

.common-footer .copy { margin-top: 13px; font-size: 11px; color: #777; }

.common-footer .mark-wrap { text-align: center; margin-top: 18px; }

.common-footer .mark { color: #fff; padding-left: 38px; position: relative; display: inline-block; }

.common-footer .mark:before { display: block; content: ""; width: 30px; height: 41px; position: absolute; top: 0; left: 0; background: url("../images/main/footer-mark.png") no-repeat; background-size: cover; }

.common-footer .mark span { display: inline-block; vertical-align: top; font-size: 10px; margin: -2px 4px 0 0; text-indent: -1; }

.phone-footer { margin-bottom: 126px; }

.discount-price { font-size: 13px; color: #121212; margin-top: 3px; }

.discount-price span { font-size: 20px; font-weight: bold; }

.dim { position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: #000; opacity: .7; display: none; }

.dim.on { display: block; }

.section-dim { position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: #000; opacity: .7; z-index: 30; display: none; }

.section-dim.on { display: block; }

.move { position: fixed; right: 20px; bottom: 30px; }

.move a { display: block; width: 48px; height: 48px; border-radius: 50%; font-size: 10px; padding-top: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; position: relative; margin-top: 10px; }

.move a:before { display: block; content: ""; position: absolute; top: 10px; left: 50%; -webkit-transform: translate(-50%); transform: translate(-50%); }

.move .shopping-link { background: #ff2e76; color: #fff; }

.move .shopping-link:before { width: 18px; height: 19px; top: 6.5px; background: url("../images/icons/icon-move-shopping.png") no-repeat; background-size: contain; }

.move .top-link { background: #fff; color: #000; display: none; }

.move .top-link:before { width: 15px; height: 17px; left: calc(50% + 0.5px); background: url("../images/icons/icon-move-top.png") no-repeat; background-size: 15px 17px; }

.move .top-link.on { display: block; }

/* 메인 배너 슬라이드 */
.banner-slide { position: relative; overflow: hidden; height: 100%; }

.banner-slide ul { position: absolute; top: 0; left: 0; overflow: hidden; }

.banner-slide li a { display: block; height: 100%; }

.banner-slide li a img { width: 100%; display: block; }

.banner-slide .count { width: 92px; height: 30px; background: rgba(0, 0, 0, 0.5); border-radius: 20px; position: absolute; bottom: 20px; right: 15px; }

.banner-slide .count .box { display: inline-block; color: #fff; font-size: 15px; width: 100%; height: 30px; margin-left: 23px; padding-top: 6px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.banner-slide .count .current { font-weight: bold; margin-right: 3px; }

.banner-slide .count .total { margin-left: 3px; }

.banner-slide .count a { display: block; width: 30px; height: 30px; background: #000; border-radius: 50%; position: absolute; top: 0; right: 0; }

.banner-slide .count a:after { display: block; content: ""; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 10px; height: 10px; background: url("../images/icons/main-slide-plus.png") no-repeat; background-size: cover; }

/* 프로모션 터치 슬라이드*/
.touch-slide { position: relative; overflow: hidden; height: 94px; margin-top: 20px; }

.touch-slide ul { display: block; font-size: 0; white-space: nowrap; position: relative; padding-left: 20px; text-align: center; }

.touch-slide li { display: inline-block; width: 119px; padding-right: 10px; }

.touch-slide li:last-child { padding-right: 40px; }

.touch-slide a { display: inline-block; width: 119px; height: 79px; background: #fff; border: 1px solid #d6d6d6; border-radius: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: 0px 7px 15px 0px rgba(50, 50, 50, 0.1); box-shadow: 0px 7px 15px 0px rgba(50, 50, 50, 0.1); }

.touch-slide span { display: inline-block; width: 100%; text-align: center; padding-top: 39px; margin-top: 12px; position: relative; font-size: 13px; }

.touch-slide .usim-icon:before { display: block; content: ""; position: absolute; top: 0; left: 50%; margin-left: -20px; width: 40px; height: 31px; background: url("../images/icons/promotion-slide1.png") no-repeat; background-size: cover; }

.touch-slide .notice-icon { margin-top: 11px; padding-top: 40px; }

.touch-slide .notice-icon:before { display: block; content: ""; position: absolute; top: 0; left: 50%; margin-left: -22px; width: 43px; height: 33px; background: url("../images/icons/promotion-slide2.png") no-repeat; background-size: contain; }

.touch-slide .touchflow-scrollbar { position: absolute; height: 3px !important; right: 0; bottom: 0; }

.touch-slide .touchflow-scrollbar div { position: absolute; height: 3px !important; background: #bababa; }

/* heading 슬라이드 */
.plan-slide-wrap { position: relative; }

.ts-controls { position: absolute; top: 0; left: 0; width: 100%; z-index: 10; }

.ts-controls .ts-paging { position: absolute; top: 43px; height: 10px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.ts-controls .ts-paging > button { padding: 0; border: 0; width: 10px; height: 0; max-height: 10px; padding-top: 10px; margin-right: 8px; overflow: hidden; background: url("../images/icons/btn-slide-paging.png") no-repeat; background-size: cover; }

.ts-controls .ts-paging > button:last-child { margin-right: 0; }

.ts-controls .ts-paging .ts-paging-active { background: url("../images/icons/btn-slide-paging.png") 0 -20px no-repeat; background-size: cover; }

.ts-controls > button { position: absolute; top: 0; padding: 0; border: 0; width: 28px; height: 0; max-height: 72px; padding-top: 72px; overflow: hidden; }

.ts-controls .ts-prev { left: 0; background: url("../images/icons/heading-slide-prev.png") 20px 50% no-repeat; background-size: 8px; }

.ts-controls .ts-next { right: 0; background: url("../images/icons/heading-slide-next.png") 0 50% no-repeat; background-size: 8px; }

.slide-heading { background: #45315c; color: #fff; font-size: 15px; text-align: center; height: 72px; padding-top: 9px; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* phone 배너 슬라이드 */
.phone .banner-slide { margin-top: 20px; overflow: hidden; position: relative; }

.phone .banner-slide a { display: block; height: 100%; }

.phone .banner-slide a img { display: block; width: 100%; }

.phone .banner-slide .count { width: 40px; height: 24px; background: rgba(0, 0, 0, 0.7); position: absolute; top: 8px; right: 8px; }

.phone .banner-slide .box { font-size: 12px; color: #ccc; margin: 0; padding: 0; height: 24px; line-height: 24px; }

.phone .banner-slide .current { color: #fff; margin-left: 9px; margin-right: 4px; font-weight: 500; }

.review-slide-wrap { position: relative; }

.review-slide-wrap .ts-controls .ts-paging { position: absolute; width: calc(100% - 70px); left: 35px; height: 2px; top: 308px; -webkit-transform: none; transform: none; }

.review-slide-wrap .ts-controls .ts-paging > button { padding: 0; border: 0; width: 20%; height: 0; max-height: 2px; padding-top: 2px; overflow: hidden; background: rgba(255, 255, 255, 0.5); margin-right: 0; }

.review-slide-wrap .ts-controls .ts-paging > button:last-child { margin-right: 0; }

.review-slide-wrap .ts-controls .ts-paging .ts-paging-active { background: #fff; }

/* 서비스 슬라이드 */
.service-slide { margin-top: 19px; overflow: hidden; position: relative; }

.service-slide li { background: #f5f5f5; text-align: center; height: 90px; padding-top: 15px; }

.service-slide .img-box { display: inline-block; vertical-align: top; margin-top: 7px; }

.service-slide .img-box img { display: block; width: 100%; }

.service-slide .img1 { width: 53px; }

.service-slide .img2 { width: 71px; }

.service-slide .img3 { width: 48px; }

.service-slide .img4 { width: 49px; }

.service-slide .text-wrap { display: inline-block; text-align: left; padding-left: 20px; }

.service-slide .text-wrap div { font-size: 16px; font-weight: bold; }

.service-slide .text-wrap p { margin-top: 5px; font-size: 14px; }

.service-slide .text-wrap p span { position: relative; top: -5px; }

.service-slide button { position: absolute; top: 0; border: 0; height: 0; max-height: 90px; padding: 90px 0 0 0; overflow: hidden; width: 31px; background: 0; }

.service-slide .slide-prev { left: 0; background: url("../images/icons/btn-service-prev-arrow.png") 20px 34px no-repeat; background-size: 11px; }

.service-slide .slide-next { right: 0; background: url("../images/icons/btn-service-next-arrow.png") 0 34px no-repeat; background-size: 11px; }

/* phone-detail 메인 슬라이드 */
.phone-slide-wrap { position: relative; border-bottom: 1px solid #000; }

.phone-slide-wrap .ts-paging { top: 191px; }

.phone-slide-wrap .ts-paging button { background: url("../images/icons/phone-detail-slide-paging.png") no-repeat; background-size: cover; }

.phone-slide-wrap .ts-paging .ts-paging-active { background: url("../images/icons/phone-detail-slide-paging.png") 0 -20px no-repeat; background-size: cover; }

.phone-slide { overflow: hidden; position: relative; }

.phone-slide li { height: 221px; text-align: center; }

.phone-slide li img { width: 153px; height: 153px; padding-top: 18px; }

/* phone-detail 이벤트 슬라이드 */
.event-slide-wrap { position: relative; margin-top: 30px; }

.event-slide-wrap .ts-controls { top: auto; bottom: 0; }

.event-slide-wrap .ts-paging { top: auto; bottom: 18px; }

.event-slide-wrap .ts-paging button { background: url("../images/icons/phone-detail-slide-paging.png") no-repeat; background-size: cover; }

.event-slide-wrap .ts-paging .ts-paging-active { background: url("../images/icons/phone-detail-slide-paging.png") 0 -20px no-repeat; background-size: cover; }

.event-slide { overflow: hidden; position: relative; }

.event-slide a { display: block; height: 100%; }

.event-slide img { display: block; width: 100%; }

/* 상단 메뉴*/
.quick-menu { height: 48px; background: #fff; text-align: center; margin-top: 60px; border-bottom: 1px solid transparent; -webkit-box-sizing: border-box; box-sizing: border-box; /* psd파일 폰트 간에 간격이 각각 안맞을때는 float으로 주고 고정값을 준게 아니다.*/ }

.quick-menu ul { display: inline-block; }

.quick-menu li { display: inline-block; margin-right: 15px; }

.quick-menu li:last-child { margin-right: 0; }

.quick-menu a { font-size: 16px; font-weight: bold; line-height: 48px; }

.promotion { padding-top: 30px; }

#usim-container, #phone-container { margin-top: 25px; }

.tab-menu { border-bottom: 1px solid #e1e1e1; -webkit-box-sizing: border-box; box-sizing: border-box; position: -webkit-sticky; position: sticky; top: 60px; left: 0; z-index: 40; background: #fff; }

.tab-menu ul:after { display: block; content: ""; clear: both; }

.tab-menu li { width: 50%; height: 48px; float: left; text-align: center; }

.tab-menu li.on a:after { width: 100%; }

.tab-menu a { display: block; font-size: 20px; color: #121212; font-weight: bold; line-height: 48px; letter-spacing: -2px; position: relative; }

.tab-menu a:after { display: block; content: ""; position: absolute; bottom: 0; width: 0; height: 4px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); background: #5e16b2; -webkit-transition: all .5s ease-out; transition: all .5s ease-out; }

.tab-contents { padding: 0 20px; border-top: 10px solid #f6f6f6; -webkit-box-sizing: border-box; box-sizing: border-box; opacity: .2; -webkit-transition: all .5s ease-out; transition: all .5s ease-out; }

.tab-contents.on { opacity: 1; }

.tab-contents .title { color: #121212; line-height: 1; margin-top: 28px; text-indent: -6px; }

.tab-contents .contents-wrap { margin-top: 22px; }

.tab-contents .contents-wrap ul:after { display: block; content: ""; clear: both; }

.tab-contents .plan-slide { margin-top: 20px; position: relative; overflow: hidden; }

.tab-contents .plan-slide li { -webkit-transition: all .3s ease-out; transition: all .3s ease-out; }

.tab-contents .plan-slide-wrap { position: relative; }

.tab-contents .plan-btn-more { margin-top: 20px; background: #fff; }

.tab-contents .plan-btn-more.hide { display: none; }

.tab-contents .plan-btn-more a { display: block; height: 29px; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; line-height: 29px; font-size: 12px; color: #121212; font-weight: bold; }

.tab-contents .plan-btn-more a span { padding-right: 13px; position: relative; }

.tab-contents .plan-btn-more a span:after { display: block; content: ""; position: absolute; top: 6px; right: 0; width: 8px; height: 5px; background: url("../images/icons/btn-more-arrow.png") no-repeat; background-size: 8px; }

.usim { padding-top: 30px; }

.usim .info-img { height: 220px; background: url("../images/main/tab-usim-banner-bg.jpg") no-repeat; background-size: cover; position: relative; }

.usim .point-img { width: 40px; height: 40px; position: absolute; top: 12px; left: 12px; }

.usim .point-img img { width: 100%; display: block; }

.usim .heading { color: #fffa6e; font-size: 18px; font-weight: bold; text-align: center; padding-top: 40px; }

.usim .plan-list { width: 240px; margin: 15px auto 0; background: rgba(0, 0, 0, 0.3); border-radius: 5px; }

.usim .plan-list:after { display: block; content: ""; clear: both; }

.usim .plan-list li { float: left; width: 33.33%; height: 72px; text-align: center; position: relative; }

.usim .plan-list li:before { display: block; content: ''; position: absolute; top: 12px; right: -1px; width: 1px; height: 40px; background: #fff; opacity: .2; }

.usim .plan-list li span { display: inline-block; font-size: 12px; color: #fff; font-weight: bold; margin-top: 12px; padding-top: 22px; position: relative; }

.usim .plan-list li:nth-child(1) span:before { display: block; content: ""; position: absolute; top: 0; left: 10px; width: 14px; height: 13px; background: url("../images/icons/plan-data.png") no-repeat; background-size: contain; }

.usim .plan-list li:nth-child(2) span:before { display: block; content: ""; position: absolute; top: 0; left: 6px; width: 15px; height: 14px; background: url("../images/icons/plan-call.png") no-repeat; background-size: contain; }

.usim .plan-list li:nth-child(3):before { display: none; }

.usim .plan-list li:nth-child(3) span:before { display: block; content: ""; position: absolute; top: 0; left: 7px; width: 14px; height: 12px; background: url("../images/icons/plan-sms.png") no-repeat; background-size: contain; }

.usim .info { padding: 11px 20px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #e1e1e1; }

.usim .info:after { display: block; content: ""; clear: both; }

.usim .info .name { font-size: 14px; font-weight: bold; margin-top: 14px; }

.usim .info .cost { font-size: 12px; color: #666; margin-top: 16px; position: relative; }

.usim .info .cost:after { display: block; content: ""; position: absolute; top: 8px; left: 0; width: 55px; height: 1px; background: #666; }

.usim .left { float: left; }

.usim .right { float: right; width: 83px; border-left: 1px solid #cfd7f4; }

.usim .right li { height: 30px; margin-bottom: 5px; }

.usim .right li:last-child { margin-bottom: 0; }

.usim .right li .bg { display: inline-block; width: 30px; height: 30px; border-radius: 50%; background: #cfd7f4; position: relative; margin-left: 20px; }

.usim .right li .bg img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 14px; height: 13px; }

.usim .right li .txt { display: inline-block; font-size: 10px; vertical-align: top; padding-top: 8px; }

.usim .price { text-align: center; margin-top: 18px; }

.usim .price .discount-price { font-size: 18px; color: #fffa6e; line-height: 26px; vertical-align: top; }

.usim .price .discount-price > span { font-size: 26px; line-height: 20px; font-weight: bold; }

.usim .cost { font-size: 11px; color: #fff; vertical-align: top; margin-right: 7px; position: relative; }

.usim .cost:after { display: block; content: ""; position: absolute; top: 8px; left: 0; width: 100%; height: 1px; background: #fff; }

.usim .list-item { margin-top: 12px; position: relative; }

.usim .list-item:first-child { margin-top: 0; }

.usim .list-item a { display: block; }

.usim .list-item a > img { width: 100%; display: block; }

.usim .list-item.hide { display: none; }

.phone .contents-wrap { margin-top: 0; }

.phone .contents-wrap ul { margin-left: 2px; }

.phone .list-item { float: left; width: calc(50% - 1.5%); height: 327px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #e1e1e1; margin: 10px 6px 0 0; }

.phone .list-item:nth-child(even) { margin-right: 0; width: calc(50% - 1.5% + 1px); }

.phone .list-item a { display: block; height: 100%; }

.phone .list-item.hide { display: none; }

.phone .img-box { width: 130px; height: 130px; margin: 0 auto; padding-top: 57px; }

.phone .img-box img { display: block; width: 100%; }

.phone .info { text-align: center; padding-top: 13px; border-top: 1px solid #cfd7f4; margin: 18px 7px 0; }

.phone .info .name { font-size: 12px; font-weight: bold; }

.phone .info .discount-price { font-size: 14px; margin-top: 0; }

.phone .info .discount-price span { font-size: 22px; }

.phone .info p { font-size: 11px; color: #6a6a6a; margin-top: 2px; }

.phone .info p span { color: #999; font-size: 11px; }

.user-review { padding-top: 40px; }

.user-review .title { text-indent: -6px; }

.user-review .review-box { margin-top: 20px; }

.user-review .review-slide { position: relative; overflow: hidden; }

.user-review li { position: relative; }

.user-review .board { height: 330px; }

.user-review .board .point-img { position: absolute; top: 0; left: 40px; width: 60px; height: 72px; border-radius: 0 0 45% 45%; text-align: center; }

.user-review .board .point-img span { display: inline-block; font-size: 12px; color: #fff; font-weight: bold; padding-top: 28px; margin-top: 15px; position: relative; }

.user-review .board .score { width: 103px; height: 0; max-height: 18px; padding-top: 18px; overflow: hidden; background: url("../images/icons/review-star.png") no-repeat; background-size: cover; position: absolute; top: 40px; right: 40px; }

.user-review .board dl { padding: 90px 35px 0 35px; }

.user-review .board dl:after { display: block; content: ""; clear: both; }

.user-review .board dt { font-size: 23px; letter-spacing: -2.3px; }

.user-review .board dd { color: #333; font-size: 14px; padding-top: 30px; }

.user-review .board .date { font-size: 11px; color: #999; padding-top: 18px; }

.user-review .board .name { padding-left: 7px; margin-left: 9px; position: relative; }

.user-review .board .name:before { display: block; content: ""; position: absolute; top: 3px; left: 0; background: #999; width: 1px; height: 9px; }

.user-review .usim-wrap { background: #cccde3; }

.user-review .usim-wrap .point-img { background: #7031a5; }

.user-review .usim-wrap .point-img span:before { display: block; content: ""; position: absolute; top: 0; left: 2px; width: 19px; height: 20px; background: url("../images/icons/review-usim-point.png") no-repeat; background-size: cover; }

.user-review .phone-wrap { background: #4a4b62; }

.user-review .phone-wrap .point-img { background: #ff2e76; }

.user-review .phone-wrap .point-img span:before { display: block; content: ""; position: absolute; top: 0; left: 9px; width: 14px; height: 22px; background: url("../images/icons/review-phone-point.png") no-repeat; background-size: contain; }

.user-review .phone-wrap dt { color: #fff; }

.user-review .phone-wrap .thumb-img { width: 90px; height: 90px; position: absolute; top: 125px; left: 15px; }

.user-review .phone-wrap .thumb-img img { display: block; width: 100%; }

.user-review .phone-wrap .text { padding-left: 85px; color: #ccc; }

.user-review .phone-wrap .date { padding-left: 85px; }

.customer-board { padding-top: 40px; }

.customer-board ul { padding: 0 20px; }

.customer-board ul:after { display: block; content: ""; clear: both; }

.customer-board li { width: calc(50% - 1%); height: 155px; float: left; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 7px 10px 0; position: relative; }

.customer-board li:before { display: block; content: ""; position: absolute; top: 20px; left: 17px; }

.customer-board li:nth-child(odd) { margin-left: -1px; }

.customer-board li:nth-child(even) { margin-right: 0; }

.customer-board li:nth-child(1):before { width: 34px; height: 27px; background: url("../images/icons/icon-customer1.png") no-repeat; background-size: cover; }

.customer-board li:nth-child(2):before { width: 32px; height: 28px; background: url("../images/icons/icon-customer2.png") no-repeat; background-size: cover; }

.customer-board li:nth-child(3):before { width: 34px; height: 32px; background: url("../images/icons/icon-customer3.png") no-repeat; background-size: cover; }

.customer-board li:nth-child(4):before { width: 34px; height: 32px; background: url("../images/icons/icon-customer4.png") no-repeat; background-size: cover; }

.customer-board a { display: block; height: 100%; position: relative; padding: 62px 0 0 17px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.customer-board .heading { font-size: 18px; font-weight: 500; }

.customer-board p { color: #666; font-size: 14px; padding-top: 8px; }

.service { padding-top: 39px; }

.service .title { line-height: 1.2; text-indent: -6px; }

.service .title span { margin-top: -7px; display: inline-block; vertical-align: top; text-indent: 0; }

.notice { padding: 40px 40px 36px 40px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.notice h3 { font-size: 14px; font-weight: bold; }

.notice li { margin-top: 17px; }

.notice .info-link { display: block; font-size: 16px; line-height: 1.3; }

.notice .date { display: inline-block; margin-top: 8px; font-size: 12px; color: #888; }

.notice .btn-more { display: inline-block; width: 20px; height: 0; max-height: 20px; padding-top: 20px; overflow: hidden; background: url("../images/icons/btn-more.png") no-repeat; background-size: cover; margin-top: 16px; }

@media screen and (max-width: 359px) { .common-header .util li:first-child { margin-right: 10px; }
  .slide-heading { font-size: 13px; }
  .usim .info .name { font-size: 12px; }
  .customer-board li { margin: 0 6px 9px 0; }
  .quick-menu li { margin-right: 10px; }
  .quick-menu li > a { font-size: 15px; }
  .common-footer .customer-service .tel { right: 0; } }

.section-phone-detail input { -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0px; border: 0; }

.section-phone-detail .contents-main { padding: 0 20px; }

.section-phone-detail .quick-menu { border-bottom: 1px solid #ccc; position: relative; z-index: 50; }

.section-phone-detail .quick-menu ul { display: block; }

.section-phone-detail .quick-menu ul span { display: inline-block; position: relative; margin-right: 0; }

.section-phone-detail .quick-menu ul span:first-child { padding-right: 14px; margin-right: 4px; }

.section-phone-detail .quick-menu ul span:first-child:before { display: block; content: ""; position: absolute; top: 19px; right: 0; width: 1px; height: 13px; background: #ccc; }

.section-phone-detail .quick-menu li { display: block; }

.section-phone-detail .quick-menu .sub-link { color: #000; font-weight: 500; display: block; position: relative; }

.section-phone-detail .quick-menu .sub-link.on:after { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }

.section-phone-detail .quick-menu .sub-link:after { display: block; content: ""; position: absolute; top: 16px; right: 20px; width: 18px; height: 18px; background: url("../images/icons/icon-circle-arrow.png") no-repeat; background-size: contain; -webkit-transition: all .5s ease-out; transition: all .5s ease-out; }

.section-phone-detail .quick-menu .sub-depth2 { display: none; }

.section-phone-detail .quick-menu .sub-depth2.on { display: block; }

.section-phone-detail .quick-menu .sub2-link { display: block; height: 46px; background: #f5f5f5; color: #000; font-size: 18px; line-height: 46px; text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 20px; }

.section-phone-detail .name-wrap { border-bottom: 1px solid #000; }

.section-phone-detail .name-wrap:after { display: block; content: ""; clear: both; }

.section-phone-detail .model-title { float: left; font-size: 16px; color: #000; padding: 15px 0 17px 0; }

.section-phone-detail .share { float: right; width: 40px; height: 0; max-height: 40px; padding-top: 40px; margin-top: 5px; overflow: hidden; background: url("../images/icons/phone-detail-share.png") 24px 50% no-repeat; background-size: 15px; }

.section-phone-detail .item:after { display: block; content: ""; clear: both; }

.section-phone-detail .item .detail-link { margin-top: 10px; float: right; width: 96px; height: 0; max-height: 24px; padding-top: 24px; overflow: hidden; background: url("../images/icons/phone-detail-link.png") no-repeat; background-size: cover; }

.section-phone-detail h4 { font-size: 17px; color: #000; }

.section-phone-detail .condition-select { margin-top: 10px; }

.section-phone-detail .condition-select h4 a { display: block; width: 100%; height: 39px; background: #fcfcfc; border-bottom: 1px solid #ccc; padding: 0 20px; margin: 0 -20px 0 -20px; line-height: 40px; position: relative; }

.section-phone-detail .condition-select h4 a.on:after { background-position: 0px -11px; }

.section-phone-detail .condition-select h4 a:after { display: block; content: ""; position: absolute; top: 50%; right: 20px; width: 11px; height: 6px; margin-top: -3px; background: url("../images/icons/btn-h4-arrow.png") no-repeat; background-size: cover; }

.section-phone-detail .condition-select .option-select { padding-top: 15px; }

.section-phone-detail .condition-select .option-select li { display: inline-block; padding: 2px 8px; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; color: #666; border-radius: 20px; margin: 5px -0.5px 0 0; }

.section-phone-detail .condition-select .select-info { margin-top: 20px; border-top: 1px solid #000; display: none; }

.section-phone-detail .condition-select .select-info.on { display: block; }

.section-phone-detail .condition-select .select-info dl { display: table; width: 100%; padding-top: 10px; border-bottom: 1px solid #ccc; }

.section-phone-detail .condition-select .select-info dl:after { display: block; content: ""; clear: both; }

.section-phone-detail .condition-select .select-info dl:last-child { border-bottom: 1px solid #000; margin-bottom: 48px; }

.section-phone-detail .condition-select .select-info dt { width: 25%; display: table-cell; vertical-align: top; padding-top: 1px; color: #666; }

.section-phone-detail .condition-select .select-info dt a { margin-top: 5px; display: block; width: 20px; height: 0; max-height: 20px; padding-top: 20px; overflow: hidden; background: url("../images/icons/icon-type-info.png") no-repeat; background-size: 15px; }

.section-phone-detail .condition-select .select-info input { position: absolute; top: 0; left: 0; overflow: hidden; width: 100%; height: 0; margin: 0; }

.section-phone-detail .condition-select .color dd { position: relative; width: 33.33%; height: 90px; border: 1px solid #e8e8e8; border-left: 0; float: left; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 7px; }

.section-phone-detail .condition-select .color dd:nth-of-type(3n + 4) { border-left: 1px solid #e8e8e8; }

.section-phone-detail .condition-select .color dd:first-of-type { border-left: 1px solid #e8e8e8; }

.section-phone-detail .condition-select .color dd:nth-of-type(1) label:before { background: #ad8ba5; }

.section-phone-detail .condition-select .color dd:nth-of-type(2) label:before { background: #9bbedc; }

.section-phone-detail .condition-select .color dd:nth-of-type(3) label:before { background: #000; }

.section-phone-detail .condition-select .color dd:nth-of-type(4) label:before { background: #d6ad97; }

.section-phone-detail .condition-select .color dd:nth-of-type(5) label:before { background: #801d2f; }

.section-phone-detail .condition-select .color input { max-height: 88px; padding-top: 88px; }

.section-phone-detail .condition-select .color label { display: block; height: 100%; text-align: center; padding-top: 45px; font-size: 12px; color: #000; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; }

.section-phone-detail .condition-select .color label:before { display: block; content: ""; position: absolute; top: 15px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 20px; height: 20px; border-radius: 50%; }

.section-phone-detail .condition-select .color input[type="radio"].radio-color:checked:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0); border: 2px solid #000; -webkit-box-sizing: border-box; box-sizing: border-box; }

.section-phone-detail .condition-select .color input[type="radio"].radio-color:checked + label:after { display: block; content: ""; position: absolute; width: 12px; height: 12px; border-radius: 50%; top: 13px; left: calc(50% + 6px); -webkit-transform: translateX(-50%); transform: translateX(-50%); background: #ff626f url(../images/icons/btn-colorchip-active.png) 50% no-repeat; background-size: 8px 5px; }

.section-phone-detail .condition-select .join-type dd { position: relative; width: 32.33%; height: 25px; float: left; margin-right: 3.5px; }

.section-phone-detail .condition-select .join-type dd:nth-of-type(3) { margin-right: 0; }

.section-phone-detail .condition-select .join-type input { max-height: 25px; padding-top: 25px; }

.section-phone-detail .condition-select .join-type label { display: block; height: 100%; text-align: center; font-size: 12px; line-height: 23px; border: 1px solid #666; -webkit-box-sizing: border-box; box-sizing: border-box; color: #666; position: relative; z-index: 5; }

.section-phone-detail .condition-select .join-type input[type="radio"].radio-join-type:checked:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; }

.section-phone-detail .condition-select .join-type input[type="radio"].radio-join-type:checked + label { color: #fff; }

.section-phone-detail .condition-select .join-type .info-wrap { width: 100%; height: auto; margin: 15px 0 7px 0; }

.section-phone-detail .condition-select .join-type .info-wrap .detail { padding: 10px; font-size: 10px; color: #666; line-height: 1.5; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; background: #f6f6f6; }

.section-phone-detail .condition-select .join-type .info-wrap .detail:before { display: block; content: ""; position: absolute; top: -10px; width: 14px; height: 11px; background: url("../images/icons/icon-type-info-tooltip.png") no-repeat; background-size: contain; }

.section-phone-detail .condition-select .join-type .info-wrap .type1 { display: block; }

.section-phone-detail .condition-select .join-type .info-wrap .type1:before { left: 31px; }

.section-phone-detail .condition-select .join-type .info-wrap .type2 { display: none; }

.section-phone-detail .condition-select .join-type .info-wrap .type2:before { left: 112px; }

.section-phone-detail .condition-select .join-type .info-wrap .type3 { display: none; }

.section-phone-detail .condition-select .join-type .info-wrap .type3:before { left: 193px; }

.section-phone-detail .condition-select .installment-month dd { float: left; margin-right: 8px; position: relative; margin-bottom: 8px; }

.section-phone-detail .condition-select .installment-month input { max-height: 25px; padding-top: 25px; }

.section-phone-detail .condition-select .installment-month label { display: inline-block; padding: 0 10px; height: 25px; line-height: 23px; font-size: 12px; color: #666; border: 1px solid #666; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; z-index: 5; }

.section-phone-detail .condition-select .installment-month .now-payment { width: 100%; margin: 0 0 7px 0; }

.section-phone-detail .condition-select .installment-month .now-payment:after { display: block; content: ""; clear: both; }

.section-phone-detail .condition-select .installment-month .now-payment a { display: inline-block; height: 25px; line-height: 25px; margin-left: 14px; font-size: 11px; color: #000; text-decoration: underline; text-indent: -0.5px; }

.section-phone-detail .condition-select .installment-month .now-payment span { display: inline-block; font-size: 11px; color: #000; margin-top: 10px; }

.section-phone-detail .condition-select .installment-month .input-wrap { float: left; position: relative; }

.section-phone-detail .condition-select .installment-month input[type="radio"].radio-month-type:checked:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; }

.section-phone-detail .condition-select .installment-month input[type="radio"].radio-month-type:checked + label { color: #fff; }

.section-phone-detail .condition-select .sale-type dd { margin: 0 8px 8px 0; display: inline-block; position: relative; }

.section-phone-detail .condition-select .sale-type dd:last-child { margin-bottom: 7px; }

.section-phone-detail .condition-select .sale-type input { max-height: 40px; padding-top: 40px; }

.section-phone-detail .condition-select .sale-type label { display: inline-block; width: 140px; height: 40px; border: 1px solid #666; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 11px; color: #666; text-align: center; padding-top: 6px; text-indent: -0.5px; line-height: 1; z-index: 5; position: relative; }

.section-phone-detail .condition-select .sale-type label span { display: block; font-size: 10px; margin-top: 5px; }

.section-phone-detail .condition-select .sale-type input[type="radio"].radio-sale-type:checked:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; }

.section-phone-detail .condition-select .sale-type input[type="radio"].radio-sale-type:checked + label { color: #fff; }

.section-phone-detail .condition-select .affiliate-cards dd { float: left; margin-bottom: 8px; position: relative; }

.section-phone-detail .condition-select .affiliate-cards dd:first-of-type { margin-right: 3px; }

.section-phone-detail .condition-select .affiliate-cards dd:nth-of-type(3) { margin-right: 3px; }

.section-phone-detail .condition-select .affiliate-cards label { display: inline-block; padding: 0 10px; height: 25px; line-height: 23px; font-size: 12px; color: #666; border: 1px solid #666; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; position: relative; z-index: 5; }

.section-phone-detail .condition-select .affiliate-cards .info-wrap { margin-top: 2px; line-height: 1.35; margin-bottom: 7px; }

.section-phone-detail .condition-select .affiliate-cards .point { color: #ff626f; }

.section-phone-detail .condition-select .affiliate-cards a { color: #000; text-decoration: underline; }

.section-phone-detail .condition-select .affiliate-cards input { max-height: 25px; padding-top: 25px; }

.section-phone-detail .condition-select .affiliate-cards input[type="radio"].radio-cards-type:checked:after { display: block; content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; }

.section-phone-detail .condition-select .affiliate-cards input[type="radio"].radio-cards-type:checked + label { color: #fff; }

.section-phone-detail .condition-select .affiliate-cards .type1 { display: none; }

.section-phone-detail .condition-select .affiliate-cards .type2 { display: none; }

.section-phone-detail .condition-select .affiliate-cards .type3 { display: none; }

.section-phone-detail .plan-select .title-wrap { margin-top: 28px; }

.section-phone-detail .plan-select .title-wrap:after { display: block; content: ""; clear: both; }

.section-phone-detail .plan-select .title-wrap a { display: block; float: right; padding: 0 9px; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; height: 25px; line-height: 23px; font-size: 12px; color: 000; }

.section-phone-detail .plan-select h4 { font-size: 16px; display: inline-block; }

.section-phone-detail .plan-select .plan-info { height: 229px; background: #fcfcfc; border: 1px solid #ebebeb; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 19px; margin-top: 17px; }

.section-phone-detail .plan-select .plan-info .heading { font-size: 14px; font-weight: bold; }

.section-phone-detail .plan-select .plan-info .price { color: #ff626f; font-size: 14px; font-weight: bold; padding-top: 18px; margin-top: 18px; border-top: 1px solid #ccc; }

.section-phone-detail .plan-select .plan-info .price span { font-size: 20px; }

.section-phone-detail .plan-select .icon-list { margin-top: 18px; }

.section-phone-detail .plan-select .icon-list ul:after { display: block; content: ""; clear: both; }

.section-phone-detail .plan-select .icon-list li { width: 33.3334%; float: left; position: relative; }

.section-phone-detail .plan-select .icon-list li:after { display: block; content: ""; position: absolute; top: 2px; right: -1px; width: 1px; height: 16px; background: #cacaca; }

.section-phone-detail .plan-select .icon-list li:last-child:after { display: none; }

.section-phone-detail .plan-select .icon-list p { padding-top: 33px; text-align: center; position: relative; color: #666; }

.section-phone-detail .plan-select .icon-list p:before { display: block; content: ""; position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 20px; height: 20px; }

.section-phone-detail .plan-select .icon-list .data:before { background: url("../images/icons/phone-detail-plan-data.png") no-repeat; background-size: 20px; }

.section-phone-detail .plan-select .icon-list .call:before { background: url("../images/icons/phone-detail-plan-call.png") no-repeat; background-size: 20px; }

.section-phone-detail .plan-select .icon-list .sms:before { left: calc(50% + 1px); top: 3px; height: 15px; background: url("../images/icons/phone-detail-plan-sms.png") no-repeat; background-size: 20px; }

.section-phone-detail .plan-select .icon-list span { display: block; color: #ff626f; font-weight: bold; }

.section-phone-detail .plan-select .text { margin-top: 15px; }

.section-phone-detail .plan-select .price-table { width: 100%; font-size: 14px; border: 0; margin-top: 20px; }

.section-phone-detail .plan-select .price-table tr:first-child { border-top: 2px solid #000; }

.section-phone-detail .plan-select .price-table tr:last-child { border-bottom: 1px solid #000; }

.section-phone-detail .plan-select .price-table td { padding: 12px; }

.section-phone-detail .plan-select .price-table tr { border-bottom: 1px solid #ccc; }

.section-phone-detail .plan-select .price-table .price { text-align: right; }

.section-phone-detail .plan-select .price-table .price span { font-size: 13px; line-height: 1.3; vertical-align: top; }

.section-phone-detail .plan-select .price-table .point { font-size: 13px; color: #ff626f; font-weight: bold; line-height: 1.3; }

.section-phone-detail .plan-select .price-table .small { color: #666; vertical-align: top; line-height: 1.3; padding-left: 1.95px; line-height: 1.3; font-size: 13px; }

.section-phone-detail .plan-select .price-table .type1 { padding-bottom: 11px; }

.section-phone-detail .plan-select .price-table .type2 { padding-bottom: 9px; }

.section-phone-detail .plan-select .notice-wrap { margin-top: 10px; }

.section-phone-detail .plan-select .notice-wrap .text { margin-top: 0; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 13px; position: relative; }

.section-phone-detail .plan-select .notice-wrap .text span { position: absolute; left: 0; }

.section-phone-detail .more-link-wrap { margin: 25px 0 35px 0; }

.section-phone-detail .more-link-wrap ul:after { display: block; content: ""; clear: both; }

.section-phone-detail .more-link-wrap li { float: left; width: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; margin-bottom: 5px; }

.section-phone-detail .more-link-wrap li:nth-child(odd) { padding-right: 2.5px; }

.section-phone-detail .more-link-wrap li:nth-child(even) { padding-left: 2.5px; }

.section-phone-detail .more-link-wrap a { display: block; height: 40px; font-size: 15px; color: #000; border: 1px solid #000; -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 38px; text-align: center; }

.section-phone-detail .payment-menu { position: fixed; width: 100%; height: 126px; left: 0; bottom: 0; z-index: 10; color: #fff; }

.section-phone-detail .payment-menu .con { position: absolute; top: 0; left: 0; width: 100%; z-index: 40; background: #4f5065; }

.section-phone-detail .payment-menu .con .heading { height: 70px; line-height: 71px; text-align: center; }

.section-phone-detail .payment-menu .con .heading span { font-size: 25px; font-weight: bold; }

.section-phone-detail .payment-menu .con .sign-up-list { border-top: 1px solid #fff; text-align: center; }

.section-phone-detail .payment-menu .con .sign-up-list ul:after { display: block; content: ""; clear: both; }

.section-phone-detail .payment-menu .con .sign-up-list li { width: 33.3%; height: 55px; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; position: relative; }

.section-phone-detail .payment-menu .con .sign-up-list li:after { display: block; content: ""; position: absolute; top: 0; right: -1px; width: 1px; height: 100%; background: #fff; }

.section-phone-detail .payment-menu .con .sign-up-list li:last-child:after { display: none; }

.section-phone-detail .payment-menu .con .sign-up-list li a { display: block; height: 100%; color: #fff; font-size: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 7px; }

.section-phone-detail .payment-menu .con .sign-up-list li span { display: block; color: #9596ac; font-size: 10px; }

.section-phone-detail .payment-menu .info { position: relative; width: 100%; left: 0; bottom: 0; -webkit-transition: all .3s ease-in; transition: all .3s ease-in; }

.section-phone-detail .payment-menu .more { position: absolute; top: -22px; left: 50%; width: 75px; height: 0; max-height: 22px; padding-top: 22px; margin-left: -37.5px; overflow: hidden; background: url("../images/icons/phone-detail-fixed-arrow.png") no-repeat; background-size: cover; }

.section-phone-detail .payment-menu .more.on { background: url("../images/icons/phone-detail-fixed-close.png") no-repeat; background-size: cover; }

.section-phone-detail .payment-menu .wrap { padding: 30px 20px; background: #fff; border-top: 2px solid #4f5065; color: #000; overflow-x: hidden; -webkit-box-sizing: border-box; box-sizing: border-box; }

.section-phone-detail .payment-menu .wrap .top-notice { font-size: 12px; color: #666; text-align: right; margin-bottom: 10px; }

.section-phone-detail .payment-menu .wrap .bottom-notice { font-size: 13px; color: #666; margin-top: 13px; }

.section-phone-detail .payment-menu .wrap dt { font-size: 14px; font-weight: bold; padding: 13px 0 15px 0; margin-bottom: 13px; border-bottom: 1px solid #ccc; }

.section-phone-detail .payment-menu .wrap dt:after { display: block; content: ""; clear: both; }

.section-phone-detail .payment-menu .wrap dt span { float: right; }

.section-phone-detail .payment-menu .wrap dl { border-bottom: 1px solid #000; padding-bottom: 15px; }

.section-phone-detail .payment-menu .wrap dl span { float: right; color: #000; }

.section-phone-detail .payment-menu .wrap dl:last-of-type dt { padding-bottom: 0; margin-bottom: 0; border-bottom: 0; }

.section-phone-detail .payment-menu .wrap dl:last-of-type dd { font-size: 12px; margin-top: 8px; }

.section-phone-detail .payment-menu .wrap dd { font-size: 14px; color: #666; margin-top: 6px; line-height: 1.4; }

.section-phone-detail .payment-menu .wrap dd:after { display: block; content: ""; clear: both; }

.section-phone-detail .payment-menu .wrap dd:nth-of-type(1) { margin-top: 0; }

.section-phone-detail .payment-menu .wrap dd:nth-of-type(2) { line-height: 1.3; }

.section-phone-detail .payment-menu .wrap .line-2 { display: inline-block; line-height: 1.3; }

.section-phone-detail .payment-menu .wrap .point { color: #ff626f; }

@media screen and (max-width: 359px) { .section-phone-detail .condition-select .join-type dd { width: 32%; } }

/*# sourceMappingURL=../maps/style.css.map */
