/* 메인 배너 슬라이드 */
.banner-slide{
    position:relative;
    overflow:hidden;
    height:100%;

    & ul{
        position:absolute;
        top:0;
        left:0;
        overflow:hidden;
    }

    & li{
        height:310px;
        
        & a{
            display:block;
            height:100%;

            & img{
                width:100%;
                display:block;
            }
        }
    }

    .count{
        width:92px;
            height:30px;
            background:rgba(0,0,0,0.5);
            border-radius:20px;
            position:absolute;
            bottom:20px;
            right:15px;

            .box{
                display:inline-block;
                color:#fff;
                font-size:15px;
                width:100%;
                height:30px;
                margin-left:23px;
                padding-top:6px;
                box-sizing:border-box;
            }

            .current{
                font-weight:bold;
                margin-right:3px;
            }
            .total{
                margin-left:3px;
            }

            & a{
                display:block;
                width:30px;
                height:30px;
                background:#000;
                border-radius:50%;
                position:absolute;
                top:0;
                right:0;

                &:after{
                    display:block;
                    content:"";
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    width:10px;
                    height:10px;
                    background:url('../images/icons/main-slide-plus.png')no-repeat;
                    background-size:cover;
                }
            }
    }

}

/* 프로모션 터치 슬라이드*/
.touch-slide{
    position:relative;
    overflow:hidden;
    height:94px;
    margin-top:20px;

    &:after{
        display:block;
        content:"";
        clear:both;
    }
    
    & ul{
        float:left;
        display:block;
        font-size:0;
        white-space:nowrap;
        position:relative;
        padding-left:20px;
    }

    & li{
        display:inline-block;
        width:119px;
        height:79px;
        padding-right:10px;

        &:last-child{
            padding-right:40px;
        }
    }
    
    & a{
        display:inline-block;
        width:119px;
        height:79px;        
        background:#fff;
        border:1px solid #d6d6d6;
        border-radius:5px;
        box-sizing:border-box;
        box-shadow:0px 7px 15px 0px rgba(50, 50, 50, 0.1);
    }

    & span{
        display:inline-block;
        width:100%;
        text-align:center;
        padding-top:39px;
        margin-top:12px;
        position:relative;
        font-size:13px;
    }

    .usim-icon{
        &:before{
            display:block;
            content:"";
            position:absolute;
            top:0;
            left:50%;
            margin-left:-20px;
            width:40px;
            height:31px;
            background:url('../images/icons/promotion-slide1.png')no-repeat;
            background-size:cover;
        }
    }
    .notice-icon{
        margin-top:11px;
        padding-top:40px;

        &:before{
            display:block;
            content:"";
            position:absolute;
            top:0;
            left:50%;
            margin-left:-22px;
            width:43px;
            height:33px;
            background:url('../images/icons/promotion-slide2.png')no-repeat;
            background-size:contain;
        }
    }
    
    .touchflow-scrollbar{
        position:absolute;
        height:3px !important;
        right:0;
        bottom:0;

        & div{
            position: absolute;
            height:3px !important;
            background:#bababa;
        }
    }
}

/* heading 슬라이드 */

.plan-slide-wrap{
    position: relative;
}
.ts-controls{
    position:absolute;
    top:0;
    left:0;
    width:100%;

    .ts-paging{
        position:absolute;
        top:43px;
        height:10px;
        left:50%;
        transform:translateX(-50%);
        
        & > button{
            padding:0;
            border:0;
            width:10px;
            height:0;
            max-height:10px;
            padding-top:10px;
            margin-right:8px;
            overflow:hidden;
            background:url('../images/icons/btn-slide-paging.png')no-repeat;
            background-size:cover;

            &:last-child{
                margin-right:0;
            }
        }
        .ts-paging-active{
            background:url('../images/icons/btn-slide-paging.png')0 -20px no-repeat;
            background-size:cover;
        }
    }

    & > button{
        position:absolute;
        top:0;    
        padding:0;
        border:0;
        width:28px;
        height:0;
        max-height:72px;
        padding-top:72px;
        overflow:hidden;
    }

    .ts-prev{
        left:0;
        background:url('../images/icons/heading-slide-prev.png')20px 50% no-repeat;
        background-size:8px;
    }
    .ts-next{
        right:0;
        background:url('../images/icons/heading-slide-next.png')0 50% no-repeat;
        background-size:8px;
    }
}

.slide-heading{
    background:#45315c;
    color:#fff;
    font-size:15px;
    text-align:center;
    height:72px;
    padding-top:9px;
    box-sizing:border-box;
}

/* phone 배너 슬라이드 */
.phone .banner-slide{
    margin-top:20px;
    overflow:hidden;
    position:relative;

    & li{
        height:212px;
    }

    & a{
        display:block;
        height:100%;

        & img{
            display:block;
            width:100%;
        }
    }

    .count{
        width:40px;
        height:24px;
        background:rgba(0,0,0,0.7);
        position:absolute;
        top:8px;
        right:8px;
    }
    .box{
        font-size:12px;
        color:#ccc;
        margin:0;
        padding:0;
        height:24px;
        line-height:24px;
    }

    .current{
        color:#fff;
        margin-left:9px;
        margin-right:4px;
        font-weight:500;
    }

}

.review-slide-wrap{
    position:relative;

    .ts-controls{

        .ts-paging{
            position:absolute;
            width:calc(100% - 70px);
            left:35px;
            height:2px;
            top:308px;
            transform:none;
            
            & > button{
                padding:0;
                border:0;
                width:20%;
                height:0;
                max-height:2px;
                padding-top:2px;
                overflow:hidden;
                background:rgba(255,255,255,0.5);
                margin-right:0;
         
                &:last-child{
                    margin-right:0;
                }
            }
            .ts-paging-active{
                background:#fff;
            }
            
        }   
    }
}

/* 서비스 슬라이드 */
.service-slide{
    margin-top:19px;
    overflow:hidden;
    position:relative;

    & li{
        height:90px;
        background:#f5f5f5;
        text-align:center;
        padding-top:15px;
    }

    .img-box{
        display:inline-block;
        vertical-align:top;
        margin-top:7px;

        & img{
            display:block;
            width:100%;
        }
    }

    .img1{
        width:53px;
    }
    .img2{
        width:71px;
    }
    .img3{
        width:48px;
    }
    .img4{
        width:49px;
    }

    .text-wrap{
        display:inline-block;
        text-align:left;
        padding-left:20px;
        
        & div{
            font-size:16px;
            font-weight:bold;
        }

        & p{
            margin-top:5px;
            font-size:14px;

            & span{
                position:relative;
                top:-5px;
            }
        }
    }

    & button{
        position:absolute;
        top:0;
        border:0;
        height:0;
        max-height:90px;
        padding:90px 0 0 0;
        overflow:hidden;
        width:31px;
        background:0;
    }

    .slide-prev{
        left:0;
        background:url('../images/icons/btn-service-prev-arrow.png')20px 34px no-repeat;
        background-size:11px;
    }
    
    .slide-next{
        right:0;
        background:url('../images/icons/btn-service-next-arrow.png')0 34px no-repeat;
        background-size:11px;
    }
}

/* phone-detail 메인 슬라이드 */
.phone-slide-wrap{
    position:relative;
    border-bottom:1px solid #000;

    .ts-paging{
        top:191px;

        & button{
            background:url('../images/icons/phone-detail-slide-paging.png')no-repeat;
            background-size:cover;
        }

        .ts-paging-active{
            background:url('../images/icons/phone-detail-slide-paging.png')0 -20px no-repeat;
            background-size:cover;
        }
    }
    
}

.phone-slide{
    overflow:hidden;
    position:relative;

    & li{
        height:221px;
        text-align:center;

        & img{
            width:153px;
            height:153px;
            padding-top:18px;
        }
    }
}

/* phone-detail 이벤트 슬라이드 */
.event-slide-wrap{
    position:relative;
    margin-top:30px;

    .ts-paging{
        top:232px;

        & button{
            background:url('../images/icons/phone-detail-slide-paging.png')no-repeat;
            background-size:cover;
        }

        .ts-paging-active{
            background:url('../images/icons/phone-detail-slide-paging.png')0 -20px no-repeat;
            background-size:cover;
        }
    }
}

.event-slide{
    overflow:hidden;
    position:relative;

    & li{
        height:260px;
    }

    & a{
       display:block;
       height:100%; 
    }

    & img{
        display:block;
        width:100%;
    }

}
