.hidden-text{
    overflow:hidden;
    position:absolute;
    border:0;
    width:1px;
    height:1px;
    clip:rect(1px, 1px, 1px, 1px);
}

/* 공통 헤더 */
.common-header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    border-bottom:1px solid #ccc;
    box-sizing:border-box;
    padding-right:20px;
    background:#fff;
    z-index:100;

    &.on{
        background:rgba(255,255,255,0.9);
    }
    
    &:after{
        display:block;
        content:"";
        clear:both;
    }

    .logo{
        position:absolute;
        top:16px;
        left:50%;
        transform:translateX(-50%);

        & > a{
            display:block;
            width:156px;
            height:0;
            max-height:26px;
            padding-top:26px;
            background:url('../images/main/header-logo.png')no-repeat;
            background-size:contain;
            overflow:hidden;
        }
    }

   .menu-btn{
       float:left;
       border:0;
       background:0;
       padding:0;
       width:60px;
       height:60px;

       & > span{
           position:relative;
           top:10px;
           right:1px;
           font-size:10px;
           letter-spacing:-1px;
           padding-top:19px;

        &:before{
            display:block;
            content:"";
            position:absolute;
            top:0;
            left:1px;
            width:16px;
            height:13px;
            background:url('../images/icons/btn-burger.png')no-repeat;
            background-size:cover;
        }
       }
   }

   .util{
       float:right;
       margin-top:16px;
       
       &:after{
           display:block;
           content:"";
           clear:both;
       }

       & li{
           float:left;

           & a{
               display:inline-block;
               font-size:10px;
               position:relative;
               padding-top:20px;
           }

           &:first-child{
               margin-right:15px;
           }
       }

       .user-link{

           &:before{
               display:block;
               content:"";
               position:absolute;
               top:0;
               left:6px;
               width:16px;
               height:19px;
               background:url('../images/icons/header-util-user.png')no-repeat;
               background-size:cover;
           }
       }

       .shop-link{
           
           &:before{
               display:block;
               content:"";
               position:absolute;
               top:1px;
               left:0;
               width:18px;
               height:18px;
               background:url('../images/icons/header-util-shop.png')no-repeat;
               background-size:contain;
           }
       }
   }
}

.gnb-container{
    position:fixed;
    width:90%;
    height:100%;
    background:#fff;
    transform:translateX(-120%);
    transition:all .2s ease-in;
    z-index:40;

    &.on{
        transform:translateX(0);
    }

    .nav-util{
        padding:0 14px;
        box-sizing:border-box;
    }

    .top{
        padding:20px 0 18px;
        border-bottom:1px solid #e6e6e6;
        box-sizing:border-box;

        &:after{
            display:block;
            content:"";
            clear:both;
        }
    }

    .login{
        float:left;
        
        & a{
            padding-left:28px;
            font-size:14px;
            position:relative;
            letter-spacing:-1.5px;
            color:#000;

            &:before{
                display:block;
                content:"";
                position:absolute;
                top:-2px;
                left:0;
                width:19px;
                height:20px;
                background:url('../images/icons/icon-login.png')no-repeat;
                background-size:contain;
            }
        }
    }

    .sign-up{
        float:right;
        font-size:14px;
        color:#000;
        letter-spacing:-1.5px;
    }

    .bottom{
        margin-top:18px;

        & ul{
            
            &:after{
                display:block;
                content:"";
                clear:both;
            }
        }

        & li{
            width:25%;
            float:left;
            text-align:center;

            & a{
                display:inline-block;
                padding-top:45px;
                position:relative;
                font-size:11px;
                color:#000;
    
                &:before{
                    display:block;
                    content:"";
                    position:absolute;
                    top:0;
                    left:50%;
                    transform:translateX(-50%);
                    width:40px;
                    height:40px;
                    background:#3e404f;
                    border-radius:50%;
                }
    
                &:after{
                    display:block;
                    content:"";
                    position:absolute;
                    top:11px;
                    left:50%;
                    height:19px;
                    transform:translateX(-50%);
                }
            }
        }
        .user{
            &:after{
                width:17px;
                background:url('../images/icons/nav-user.png')no-repeat;
                background-size:contain;
            }
        }
        .usim{

            &:after{
                width:18px;
                background:url('../images/icons/nav-usim.png')1px 0 no-repeat;
                background-size:contain;
            }
        }
        .plan{
            &:after{
                width:21px;
                background:url('../images/icons/nav-plan.png')no-repeat;
                background-size:contain;
            }
        }
        .home{
            &:before{
                background:#ff2e76;
            }
            &:after{
                width:21px;
                background:url('../images/icons/nav-home.png')no-repeat;
                background-size:contain;
            }
        }

        .search-box{
            position:relative;
            margin-top:19px;
        
            & input{
                width:100%;
                padding:0;
                height:28px;
                box-sizing:border-box;
                border:1px solid #29292a;
                border-radius:20px;
            }

            & a{
                position:absolute;
                bottom:6px;
                right:14px;
                width:18px;
                height:0;
                max-height:16px;
                padding-top:16px;
                overflow:hidden;
                background:url('../images/icons/btn-nav-search.png')no-repeat;
                background-size:contain;
            }
        }
    }

    .gnb{
        margin-top:16px;
        border-top:1px solid #dedede;
        height:100%;
        position:relative;

        .left{
            width:120px;
            height:100%;
            background:#f5f5f5;
        }
    }

    .depth1{
        width:120px;

        &:after{
            display:block;
            content:"";
            clear:both;
        }

        & > li{
            width:120px;
            height:47px;
            border-bottom:1px solid #e0e0e0;
            float:left;

            & > a{
                display:block;
                height:100%;
                font-size:15px;
                color:#666;
                background:#f1f1f1;
                padding-left:20px;
                line-height:47px;
                position:relative;
                text-indent:-0.5px;

                &:after{
                    display:block;
                    content:"";
                    position:absolute;
                    top:20px;
                    right:14px;
                    width:5px;
                    height:8px;
                    background:url('../images/icons/nav-right-arrow-off.png')no-repeat;
                    background-size:contain;
                }

                &.on{
                    color:#ff2e76;
                    background:#fff;
                    font-weight:bold;
                    
                    &:after{
                        background:url('../images/icons/nav-right-arrow-on.png')no-repeat;    
                        background-size:contain;
                    }

                    &:before{
                        display:block;
                        content:"";
                        position:absolute;
                        width:100%;
                        left:0;
                        bottom:0;
                        height:3px;
                        background:#ff2e76;
                    }
                }
            }
        }
    }

    .depth2{
        position:absolute;
        right:0;
        top:0;
        width:calc(100% - 120px);
        padding-top:16px;
        box-sizing:border-box;
        display:none;
        
        &.on{
            display:block;
        }

        & > li{
            position:relative;
            padding:0 20px;
        }
    }

    .depth2-link{
        display:inline-block;
        box-sizing:border-box;
        width:100%;
        font-size:14px;
        font-weight:bold;
        color:#121212;
        padding:10px 0 10px 3px;
        text-indent:-0.5px;
        border-bottom:1px solid #dedede;

    
    }

    .more{
        position: relative;

        &:after{
            display:block;
            content:"";
            position:absolute;
            top:15px;
            right:4px;
            width:11px;
            height:0;
            max-height:6px;
            padding-top:6px;
            overflow:hidden;
            background:url('../images/icons/icon-nav-bottom-arrow.png')no-repeat;
            background-size:contain;
        }

        &.on{
            color:#ff2e76;

            &:after{
                background:url('../images/icons/icon-nav-top-arrow.png')no-repeat;
                background-size:contain;
            }
        }
    }

    .depth3{
        padding:10px 0 8px 0;
        display:none;

        &.on{
            display:block;
        }
        
        & > li{

            & > a{
                display:block;
                color:#000;
                padding:10px 0 10px 20px;
                position:relative;
                text-indent:-0.5px;

                &:before{
                    display:block;
                    content:"";
                    position:absolute;
                    top:15px;
                    left:5px;
                    width:8px;
                    height:7px;
                    background:url('../images/icons/icon-nav-re.png')no-repeat;
                    background-size:contain;
                }
            }
        }
    }

    .family-site{
        width:120px;
        text-align:center;
        padding-top:30px;
        box-sizing:border-box;

        &:after{
            display:block;
            content:"";
            clear:both;
        }

        & a{
            display:inline-block;
            width:108px;
            height:38px;
            line-height:38px;
            color:#000;
            border:1px solid #000;
            box-sizing:border-box;
            margin-bottom:10px;
            margin-right:3px;
            text-indent:-0.5px;
        }
    }

    .inner{
        position:relative;
        height:100%;
        overflow-y:auto;
    }

    .close-btn{
        position:fixed;
        top:0;
        right:-36px;
        padding:0;
        border:0;
        width:36px;
        height:0;
        max-height:36px;
        padding-top:36px;
        overflow:hidden;
        background:url('../images/icons/btn-gnb-close.png')7px 12px no-repeat;
        background-size:17px;
        
    }

}

/* 타이틀 */
.title{
    font-size:20px;
    text-align:center;
    line-height:1.1;
}

/* 공통 푸터 */
.common-footer{
    padding:27px 20px 33px 20px;
    background:#333;
    box-sizing:border-box;

    .customer-service{
        border-bottom:1px solid #666;

        & dl{
            padding-bottom:25px;
        }

        & dt{
            color:#fff;
            margin-bottom:9px;
        }

        & dd{
            position:relative;
        }

        & li{
            color:#ccc;
            font-size:12px;
        }

        .tel{
            font-size:18px;
            color:#ff626f;
            position:absolute;
            bottom:0;
            right:23px;

            & span{
                font-size:12px;
            }
        }
    }

    .nav-wrap{
        margin-top:18px;
        text-align:center;

        & li{
            display:inline-block;
            padding-right:10px;
            margin-right:1px;
            position:relative;

            &:after{
                display:block;
                content:"";
                position:absolute;
                top:6px;
                right:0;
                width:1px;
                height:8px;
                background:#ccc;
            }


            &:last-child{
                padding-right:0;
                margin-right:0;

                &:after{
                    display:none;
                }
            }
            &:nth-child(2){
                &:after{
                    right:1px;
                }
            }
        }

        & a{
            color:#ccc;
        }

        .point{
            font-weight:bold;
        }
    }

    .info{
        margin-top:20px;

        & li{
            font-size:10px;
            color:#777;
        }
        .spacing{
            margin-right:10px;
        }


    }

    .copy{
        margin-top:13px;
        font-size:11px;
        color:#777;
    }
    .mark-wrap{
        text-align:center;
        margin-top:18px;
    }

    .mark{
        color:#fff;
        padding-left:38px;
        position:relative;
        display:inline-block;

        &:before{
            display:block;
            content:"";
            width:30px;
            height:41px;
            position:absolute;
            top:0;
            left:0;
            background:url('../images/main/footer-mark.png')no-repeat;
            background-size:cover;
        }

        & span{
            display:inline-block;
            vertical-align:top;
            font-size:10px;
            margin:-2px 4px 0 0;
            text-indent:-1;
        }
    }
}

.phone-footer{
    margin-bottom:126px;
}

.discount-price{
    font-size:13px;
    color:#121212;
    margin-top:3px;

    & span{
        font-size:20px;
        font-weight:bold;
    }
}

.dim{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:#000;
    opacity:.7;
    display:none;


    &.on{
        display:block;
    }
}

.section-dim{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:#000;
    opacity:.7;
    z-index:30;
    display:none;

    &.on{
        display:block;
    }
}

.move{
    position:fixed;
    right:20px;
    bottom:30px;

    & a{
        display:block;
        width:48px;
        height:48px;
        border-radius:50%;
        font-size:10px;
        padding-top:30px;
        box-sizing:border-box;
        text-align:center;
        position:relative;
        margin-top:10px;

        &:before{
            display:block;
            content:"";
            position:absolute;
            top:10px;
            left:50%;
            transform:translate(-50%);          
        }

    }

    .shopping-link{
        background:#ff2e76;
        color:#fff;

        &:before{
            width:18px;
            height:19px;
            top:6.5px;
            background:url('../images/icons/icon-move-shopping.png')no-repeat;
            background-size:contain;
        }
    }
    .top-link{
        background:#fff;
        color:#000;
        display:none;

        &:before{
            width:15px;
            height:17px;
            left:calc(50% + 0.5px);
            background:url('../images/icons/icon-move-top.png')no-repeat;
            background-size:15px 17px;
        }

        &.on{
            display:block;
        }
    }

}
